<?xml version="1.0"?>
<config>
    <modules>
        <Hempshades_Customizer>
            <version>0.1.0</version>
        </Hempshades_Customizer>
    </modules>
    <global>        
        <blocks>
            <customizer>
                <rewrite>
                    <customizer>Hempshades_Customizer_Block_Customizer</customizer>
                </rewrite>
            </customizer>
        </blocks>
        <models>
            <customizer>
                <class>Hempshades_Customizer_Model</class>
                <resourceModel>customizer</resourceModel>
            </customizer>
        </models>
    </global>
    <frontend>
        <routers>
            <customizer>
                <use>standard</use>
                <args>
                    <module>Hempshades_Customizer</module>
                    <frontName>customizer</frontName>
                </args>
            </customizer>
        </routers>
        <layout>
            <updates>
                <customizer>
                    <file>customizer.xml</file>
                </customizer>
            </updates>
        </layout>
    </frontend>
</config>